<body>
  <h3>
    {{rater}}
  </h3>
  <h5>
    Rated movies:
  </h5>
  <ul>
    {% for each_rating in rater.get_ratings %}
      <li>
        {%if user.rater == rater%}
          {{each_rating.rating_value}} :<a href = "{% url 'ratings_app:rate_movie' each_rating.movie.id %}">{{each_rating.movie.title}}</a>
        {%else%}
          {{each_rating.rating_value}} :<a href = "{% url 'ratings_app:movie_detail_url' each_rating.movie.id %}">{{each_rating.movie.title}}</a>
        {%endif%}
      </li>
    {% endfor %}
  </ul>

</body>
